<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <Filters>
        <RegexFilter regex=".*(Waiting for document to be ready).*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex=".*(Document is ready).*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex=".*(Axios to load).*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex=".*(Angular to load).*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex=".*(jQuery).*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex=".*(The Provider facet).*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex=".*(SKIP facet filter is not set in VM options).*" onMatch="DENY" onMismatch="NEUTRAL"/>
      </Filters>
      <PatternLayout
        pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss}] %highlight{%-5level}{STYLE=Logback} %logger{36} %msg%n}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>